  <div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body text-center">
     <center> <img  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT2RPLj3S7D_SuUouvB8QSddjWfGNkgf814w0Eanf3OcDIzy_HsYgCwJq6rtdsx1uYPFg8&usqp=CAU" alt="alternatetext" style="width:170px;height:170px;" alt="centered image"></center>  
 
        <p>Create an account or login</p>
        <a href="/users/register" class="btn btn-primary btn-block mb-2"
          >Register</a
        >
        <a href="/users/login" class="btn btn-secondary btn-block">Login</a>
      </div>
    </div>
  </div>